.App-header {
  display: flex;
  font-size: calc(10px + 2vmin);
  color: blue;
  width: 100%;
}
.App-header h1{
  margin: auto;
}

.Word {
  display: flex;
  width: 100%;
  margin: auto;
  justify-content: center;
}

.wordTip{
  width: 635px;
  background-color: aquamarine;
  text-align: center;
  font-size: calc(10px + 1.5vmin);
}
.inputWord{
  margin-left: 6px;
  width: 50px !important;
  text-align: center;
  font-size: calc(10px + 1.5vmin);
}