.App-header {
  display: flex;
  flex-direction: column;
  font-size: calc(1rem + 1vmin);
  width: 100%;
  color: rgb(0, 0, 0);
}

.App-header h1, .App-header h3{
  margin: auto;
}

h1 {
  font-size: calc(1.7rem + 1.7vmin);
  display: flex;
  align-items: center;
}

.Word {
  display: flex;
  margin: auto;
  justify-content: center;
  color: rgb(0, 0, 0);
}

.Word{
  border-radius: 10px 10px 10px 10px;
  font-weight: 900 !important;
}

.wordTip{
  text-align: center;
  font-size: calc(10px + 1.5vmin);

}

form, .wordTip{
  margin-bottom: 5px;
}

.divSpans{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #006aff93;
  height: 100%;
  align-items: center;
  border-radius: 20px 20px 20px 20px;
  padding: 15px;
  box-shadow: 4px 4px 0px #004cb693,
    5px 5px 0px #004cb693,
    6px 6px 0px #004cb693,
    7px 7px 0px #004cb693,
    8px 8px 0px #000a1993;
    border: 2px solid rgba(0, 0, 0, 0.5);
    gap:5px;
}
.divSpan{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 30px;
  min-width: 30px;
}

.inputWord,.divSpan{
  font-family: 'Lexend', sans-serif;
  width: 5vmin;
  height: 5vmin;
  min-height: 30px;
  min-width: 30px;
  max-height: 60px;
  max-width: 62px;
  text-align: center;
  font-size: calc(1.2rem + 1.2vmin);
  font-weight: bolder;
  border-radius: 5px 5px 5px 5px;
  border: 2px rgba(0, 0, 0, 0.7) solid;
  box-shadow: 0.5px 0.5px 1px 0.5px rgba(0, 0, 0, 0.6);
  background-color: rgb(255, 255, 255) !important;
  box-shadow: 0.5px 0.5px 0px #0d0d0d4d,
    1px 1px 0px #0d0d0d4d,
    2px 2px 0px #0d0d0d4d,
    3px 3px 0px #0d0d0d4d,
    4px 4px 0px #0d0d0d4d;
}

i{
  font-size: clamp(12px, 4vw, 30px);
}

.greenInput{
  background-color: rgba(161, 252, 161, 0.616) !important;
  color: rgb(0, 0, 0) !important;
}

.inputWord:focus {
  background-color: rgba(37, 98, 231, 0.226) !important;
  width: 6vmin !important;
  height: 6vmin !important;
}

.wordSpan{
  text-align: center;
  font-size: calc(10px + 3vmin);
}

i {
  font-weight: 900 !important;;
}

.heals{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Word {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 10px;
}

.arrowIcon {
  font-size: 2rem;
  padding: 10px; 
}
@media(max-width: 768px) {
  .arrowIcon{
    font-size: 2rem;
  }
}
 
@media (max-width: 480px) { 
  .arrowIcon{
    font-size: 1.5rem;
  } 
}

.far{
  font-size: 2.7rem !important;
  color:rgb(211, 14, 14);
  margin-right: 5px;
}

.App-header button {
  margin-top: 10px !important;
  background-color: #1d69d4;
  display: flex;
  align-items: center;
  min-width: 12vmin !important;
  min-height: 3vmin !important;
  min-width: none;
  justify-content: center;
  font-family: 'Lexend', sans-serif;
  border: 2px solid black;
  font-size: calc(0.6rem + 0.6vmin);
  padding: 5px;
  color: white;
  margin: auto;
  border-radius: 10px;
}

.App-header button:hover {
  cursor: pointer;
}

.fa-heart-crack{
  color: rgb(82, 1, 1) !important;
}

@media (max-width: 480px) { 
  .arrowIcon{
    font-size: 1.5rem;
  } 
}

.explain{
  font-size: calc(0.6rem + 0.6vmin);
}

.explainDv{
  width: 300px;
  margin: auto;
  text-align: center;
}

.buttonForm {
  min-height: 40px;
  min-width: 40px;
  margin-left: 2px;
  margin-right: 2px;
  background-color: transparent;
  border: none;
  margin: auto;
  max-height: 60px;
  max-width: 62px;
  display: flex;
}

.buttonForm i {
  font-size: calc(1.9rem + 1.6vmin);
  color: #4287ff;
  transform: rotate(320deg);
}

i{
  text-shadow: 0 0 1px #000;
}

.fa-border{
  border-radius: 100%;
}

.inputsRow{
  display: flex;
  gap: 5px;
}

form{
  display: flex;
  gap:5px;
}

.divForm{
  margin-left: 50px;
}

.displayNone {
  display: none;
}

@media (max-width: 1440px) { 
  .divForm{
    margin-left: 45px !important;
  }
}
@media (min-width: 2000px) { 
  .divForm{
    margin-left: 50px !important;
  }
}

img{
  transform: rotate(150deg) !important;
  max-width: 37px !important;
  max-height: 37px !important;
  cursor: pointer;
  transition: all 0.3s ease;
}

img:hover { 
  transform: rotate(0deg) !important;
  transform: scale(1.1);
}